<form #loginForm="ngForm" autocomplete="off" (submit)="onSubmit(loginForm)" class="login form">
  <!--{{ userForm.value | json }}-->
  <legend class="header">Welcome Back!</legend>

  <div class="form-group">
    <input name="username" #username="ngModel" [(ngModel)]="service.loginFormData.username" class="form-control" placeholder="Username">
  </div>
  
  <div class="form-group">
    <input type="password" name="password" #password="ngModel" [(ngModel)]="service.loginFormData.password" class="form-control" placeholder="Password">
  </div>
  
  
  <div class="form-group">
    <button type="submit" class="btn btn-success" routerLink="/home">Login</button>
    <p class="message"><a routerLink="#">Don't have an account? Register here!</a></p>
  </div>

  
</form>


