<form #loginForm="ngForm" autocomplete="off" (submit)="onSubmit()" class="login form">
  <!--{{ userForm.value | json }}-->
  <legend class="header">Welcome Back!</legend>

  <div class="form-group">
    <input name="username" #userLoginModelUsernameText="ngModel" [(ngModel)]="userModel.username" class="form-control" placeholder="Username">
  </div>
  
  <div class="form-group">
    <input name="password" type="password" #userLoginModelPasswordText="ngModel" [(ngModel)]="userModel.password" class="form-control" placeholder="Password">
  </div>
  
  
  <div class="form-group">
    <button type="submit" class="btn btn-success">Login</button>
    <p class="message" (click)="showRegisterForm()">Don't have an account? Register here!</p>
  </div>

  
</form>


