.avatarBox{
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.avatarBoxImg{
    border-radius: 50%;
    width:200px;
    height: 200px;
}

.avatarBox h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 400;
    color: white;
}

.avatarBox h5{
    font-size:20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.modal-title{
    color: black;
}