<title>LFP | Looking For Party</title>
<h1 class="display-4">LFP></h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit()" >

  <div class="form-group">
    <label>Currently logged in as: {{userModel.displayName}}</label>
    <input name="description" #status="ngModel" [(ngModel)]="roomModel.description" class="form-control" placeholder="Enter room description here...">
  </div>

  <div class="form-group">
    <label>Select one (1) tag per category below:</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="gameTag" id="dota2" value="100" autocomplete="off" checked=""> #DOTA2
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="gameTag" id="lol" value="101" autocomplete="off"> #LOL
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="gameTag" id="csgo" value="102" autocomplete="off"> #CS:GO
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="languageTag" id="english" value="200" autocomplete="off" checked=""> #ENG
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="languageTag" id="filipino" value="201" autocomplete="off"> #FIL
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="languageTag" id="cebuano" value="202" autocomplete="off"> #CEB
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="countryTag" id="ph" value="300" autocomplete="off" checked=""> #PH
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="countryTag" id="sea" value="301" autocomplete="off"> #SEA
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="countryTag" id="na" value="302" autocomplete="off"> #NA
      </label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-block btn-success">HOST ROOM</button>
    </div>

    <div class="form-group col-md-6">
      <button type="button" class="btn btn-block btn-success">Search for status</button>
    </div>

    <div class="form-group col-md-6">
      <button type="button" class="btn btn-block btn-success">Match with others</button>
    </div>
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-block btn-danger">Cancel</button>
    </div>
  </div>

  <div class="form-row-3">
    <button type="button" (click)="signOut()" class="btn btn-block btn-primary">Sign Out</button>
  </div>
</form>